/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header, footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #005599;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #004488;
    border-radius: 5px;
}

/* Section Styles */
section {
    padding: 20px;
    text-align: center;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.uniforms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.uniform-item {
    width: 45%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.uniform-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
